venv/
__pycache__/
.DS_Store

#pUblic key
#pk_test_51TvxyZ0Q18pj4H7s3RuqwL04OpRSbQv7ld8t6QruVUcaEpsKaOWgsYdvWWgIvKU9Qdx2oPzJzJ58Ivb2Tgh38Lv400tU4vxkTg
#Sectet key
#sk_test_51TvxyZ0Q18pj4H7sqPKw6wbC2mXqG5ACgxtarWr1ZDaLzDJmsxxM9c40w3U1YFqzfQirY04vdBJ9TG8JEeaUjWbh00lKXh3U5R 
