.header {
    position: sticky;
    top: 0;
    height: 80px;
    min-height: 80px;
    background-color: white;
    z-index: 1001;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}



/* Icon size */
.header svg {
    width: 30px;
    height: 30px;
    color: gray;
}

/* Search bar */
.searchbar {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    flex-direction: row;
    width: 30%;
    min-width: 250px;
}

.searchbar input {
    border: none;
    outline: none;
    padding: 10px;
}

.searchbar input::placeholder {
    color: #888;
}

.searchbar button {
    background: none;
    padding-left: 10px;
}

/* Notification & Button container */
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Blue CTA Button */
.options button {
    background-color: #3a69ff;
    color: white;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.logout-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #dc3545; /* A standard red 'logout' color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #c82333;
}
