<tbody>
                {% for p in productes %}
                <tr>
                <td><img src="../static/images/Cap.png" alt="categoria" /></td>
                <td>{{ p.id }}</td>
                <td>
                    <strong>{{ p.nom }}</strong><br />
                    <small>{{ p.miligrams }}</small>
                </td>
                <td>{{ p.quantitat }}</td>
                <!-- This pulls the exact expiration date from your database -->
                <td class="expiry">{{ p.data_caducitat }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 20px;">No hi ha productes a l'inventari.</td>
                </tr>
                {% endfor %}
            </tbody>