<!-- Provides list of expiring medications -->
<!-- Title -->
<div class="title">
    <h2>Caducitat propera</h2>
    <button class="expiration-title-button">Tots ▼</button>
</div>
<!-- Expiring medication list -->
<div class="content" style="display: flex; gap: 10px; flex-direction: column">
    <div class="expiration-item">
        <div class="expiration-item-text">
            <div style="font-size: 18px">
                Paracetamol
            </div>
            <div style="font-size: 14px; color: gray">
                500 mg
            </div>
        </div>
        <div class="expiration-item-date">
            30/08/2024
        </div>
    </div>
    <hr>
    <div class="expiration-item">
        <div class="expiration-item-text">
            <div style="font-size: 18px">
                Amoxicil·lina
            </div>
            <div style="font-size: 14px; color: gray">
                375 mg
            </div>
        </div>
        <div class="expiration-item-date">
            01/09/2024
        </div>
    </div>
    <hr>
    <div class="expiration-item">
        <div class="expiration-item-text">
            <div style="font-size: 18px">
                Loratadina
            </div>
            <div style="font-size: 14px; color: gray">
                10 mg
            </div>
        </div>
        <div class="expiration-item-date">
            03/09/2024
        </div>
    </div>
</div>