{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

<div class="header">
    <form class="searchbar">
        <button type="submit">🔍</button>
        <input type="text" placeholder="cerca aqui" name="search">
    </form>
    <div class="options">
        <i data-lucide="message-square-text"></i>
        <i data-lucide="bell"></i>
        <!-- We wrapped the button in the link here -->
        <a href="{{ url_for('newproduct') }}">
            <button type="button">
                + Nou Producte
            </button>
        </a>
    </div>
</div>