{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

<div class="header">
    <form class="searchbar">
        <button type="submit">🔍</button>
        <input type="text" placeholder="cerca aqui" name="search">
    </form>
    
    <div class="options">
        <i data-lucide="message-square-text"></i>
        <a href="{{ url_for('notifications') }}" style="position: relative; display: inline-flex;">
            <i data-lucide="bell"></i>
            {% if notifications %}
            <span style="
                position: absolute;
                top: -4px;
                right: -4px;
                background: red;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: block;
            "></span>
            {% endif %}
        </a>
        
        <a href="{{ url_for('newproduct') }}">
            <button type="button">
                + Nou Producte
            </button>
        </a>
    </div>
</div>