<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expirationpage.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    {% include 'components/sidebar.html' %}
    <div style="display: flex; flex-direction: column; width: 100%">
      {% include 'components/header.html' %}
      
      <div class="expiration-page">
        <table class="expiration-page-list">
            <thead>
                <tr>
                <th>Categoria</th>
                <th>Número (ID)</th>
                <th>Nom</th>
                <th>Qtat.</th>
                <th>Data de caducitat</th>
                </tr>
            </thead>
            <tbody>
                {% for p in productes %}
                <tr>
                <td><img src="../static/images/Cap.png" alt="categoria" /></td>
                <td>{{ p.id }}</td>
                <td>
                    <strong>{{ p.nom }}</strong><br />
                    <small>{{ p.miligrams }}</small>
                </td>
                <td>{{ p.quantitat }}</td>
                <td class="expiry">{{ p.data_caducitat }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 20px;">No hi ha productes a l'inventari.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="expiration-page-bottom">
            <button>
                Més >>
            </button>
        </div>
      </div>
    </div>
    
</body>
</html>
<script>
  lucide.createIcons();
</script>