<!-- 
 This is the overview section of the dashboard
 Contains:
 - Overview that lists product numbers and categories
 -->

<!-- Title -->
<h2>Visió general</h2>
<div class="content">
    <!-- Section for displaying income & product -->
    <div class="overview-content-income">
        <!-- Section for displaying the amount of orders -->
        <div class="overview-content-income-orders">
            <!-- Text section to the left -->
            <div class="overview-content-income-orders-text">
                <div
                    style="font-size: 12px"
                >Comandes</div><div
                    style="font-size: 18px; font-weight: 500"
                >EUR {{ total_revenue }}</div>
            </div>

            <!-- Graph and arrow section to the right -->
             <div class="overview-content-income-orders-graph">
                <i data-lucide="trending-up"></i>
                <div>+70%</div>
            </div>
        </div>
        <!-- Section for displaying the amount of products -->
        <div class="overview-content-income-products">
            <!-- Text section to the left -->
            <div style="padding: 10px 15px">
                <div style="color: gray; font-size: 12px">
                    Productes
                </div>
                <div style="font-size: 22px; font-weight: 550">
                    {{ total_stock }}
                </div>
            </div>
        </div>
    </div>
    <!-- Section for listing categories -->
    <h3>Categories</h3>
    <div class="overview-content-categories">
            <div class="overview-content-category">
                <img
                    src="../static/images/Cap.png"
                    alt="Cap"
                >
                <div>
                    Cap
                </div>
            </div>
            <div class="overview-content-category">
                <img
                    src="../static/images/Tronc.png"
                    alt="Tronc"
                >
                <div>
                    Tronc
                </div>
            </div>
            <div class="overview-content-category">
                <img
                    src="../static/images/Brac.png"
                    alt="Braç"
                >
                <div>
                    Braç
                </div>
            </div>
            <div class="overview-content-category">
                <img
                    src="../static/images/Peu.png"
                    alt="Peu"
                >
                <div>
                    Peu
                </div>
            </div>
            <div class="overview-content-category">
                <img
                    src="../static/images/Intestins.png"
                    alt="Intestins"
                >
                <div>
                    Intestins
                </div>
            </div>
        </div>
</div>