<tbody>
                {% for p in productes %}
                <tr>
                <!-- We are defaulting to the Cap image for now, but you can change this later! -->
                <td><img src="../static/images/Cap.png" alt="categoria" /></td>
                <td>{{ p.id }}</td>
                <td>
                    <strong>{{ p.nom }}</strong><br />
                    <small>{{ p.miligrams }}</small>
                </td>
                <td>{{ p.quantitat }}</td>
                <td class="expiry">10%</td> <!-- Placeholder discount -->
                <td>EUR {{ p.preu }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" style="text-align: center; padding: 20px;">No hi ha productes a l'inventari.</td>
                </tr>
                {% endfor %}
            </tbody>