<!DOCTYPE html>
<html>
<head>
    <title>Suppliers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/supplier.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    {% include 'components/sidebar.html' %}
    <div style="display: flex; flex-direction: column; width: 100%">
      {% include 'components/header.html' %}
      
      <div class="provider-page">
        <h2>Els teus Suppliers</h2>
        
        <table class="provider-table">
            <thead>
                <tr>
                    <th>Nom del Supplier</th>
                    <th>Estadístiques Ràpides</th>
                    <th>Acció</th>
                </tr>
            </thead>
            <tbody>
                {% for p in suppliers %}
                <tr>
                    <td style="font-size: 18px;"><strong>{{ p.proveedor }}</strong></td>
                    <td>
                        <span class="badge badge-green">Productes totals: {{ p.total_items }}</span>
                        <span class="badge">Diferents Medicaments: {{ p.unique_products }}</span>
                    </td>
                    <td>
                        <a href="{{ url_for('supplier_detail', supplier_name=p.proveedor) }}" class="btn-view">Veure Perfil</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" style="text-align: center; padding: 30px; color: gray;">Encara no hi ha suppliers a la base de dades.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</body>
</html>
<script>lucide.createIcons();</script>