<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <main class="main-content">
        <div class="button-bar">
            <button class="expiration-title-button">Tots ▼</button>
        </div>
      <section class="table-section">
        <table>
          <thead>
            <tr>
              <th>Número (ID)</th>
              <th>Nom</th>
              <th>Qtat. Restant</th>
              <th>Preu</th>
              <th>Data de compra</th>
            </tr>
          </thead>
          <tbody>
            {% for t in transactions %}
            <tr>
              <td>{{ t.producte_id }}</td>
              <td>
                <div>{{ t.nom }}</div>
              </td>
              <td>{{ t.quantitat_restant }}</td>
              <td>EUR {{ "%.2f"|format(t.preu) }}</td>
              <td>{{ t.data_compra.strftime('%d/%m/%Y') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      <div class="button-bar">
        <button class="more-button">mes >>></button>
      </div>
    </main>
</body>
</html>